### TeX ###
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc

## Intermediate documents:
*.dvi
*-converted-to.*

## Build directory:
.build/

### Editor ###
## Vim & Emacs temp files:
.*sw[op]
*~

## TexPad temp files:
.texpadtmp/*

### Mac OS X ###
## Mac OS X metadata files:
*.DS_Store

